<div class="row">
  <div class="col s8 offset-s2">
    <h5>Cadastro de Aluno</h5>

    <ul class="tabs" materialize="tabs">
      <li class="tab col s3"><a class="active" href="#dados">Dados</a></li>
      <li class="tab col s3"><a href="#notas">Notas</a></li>
      <li class="tab col s3"><a href="#faltas">Faltas</a></li>
    </ul>

    <div id="dados" class="row">
      <div id="cadastro" class="row">
        <div class="input-field col s6">
          <input id="nome" type="text" class="validate"  >
          <label for="nome">Nome</label>
        </div>
        <div class="input-field col s6">
          <input id="sobrenome" type="text" class="validate"  >
          <label for="sobrenome">Sobrenome</label>
        </div>
        <div class="input-field col s12">
          <input id="email" type="text" class="validate"  >
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="telefone" type="text" class="validate"  >
          <label for="telefone">Telefone</label>
        </div>
        <div class="input-field col s6">
          <input id="celular" type="text" class="validate"  >
          <label for="celular">Celular</label>
        </div>
        <div class="input-field col s6">
          <input id="rg" type="text" class="validate"  >
          <label for="rg">RG</label>
        </div>
        <div class="input-field col s6">
          <input id="cpf" type="text" class="validate"  >
          <label for="cpf">CPF</label>
        </div>
      </div>
    </div>

    <div id="notas" class="row">
      <table class="striped">
        <thead>
        <tr>
          <th>Matéria</th>
          <th>1º Bimestre</th>
          <th>2º Bimestre</th>
          <th>3º Bimestre</th>
          <th>4º Bimestre</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Matemática</td>
          <td>10</td>
          <td>8</td>
          <td>9</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Geografia</td>
          <td>10</td>
          <td>8</td>
          <td>9</td>
          <td>7</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div id="faltas" class="row">
      <table class="striped">
        <thead>
        <tr>
          <th>Matéria</th>
          <th>1º Bimestre</th>
          <th>2º Bimestre</th>
          <th>3º Bimestre</th>
          <th>4º Bimestre</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Matemática</td>
          <td>0</td>
          <td>1</td>
          <td>1</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Geografia</td>
          <td>2</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="right-align">
      <button class="btn waves-effect waves-light" (click)="save()" >
        Salvar
      </button>
    </div>
  </div>
</div>
