<header>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper indigo lighten-1">
      <a href="#!" class="brand-logo"><i class="material-icons">menu</i></a>
      <a href="#" class="brand-logo center">Smart School</a>    
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">John no Arms</a></li>
      </ul>
    </div>
  </nav>
</div>
</header>

<main>
  <body>
    <router-outlet></router-outlet>
  </body>
</main>

<footer class="page-footer indigo darken-2">
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Smart School
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>