<div class="row">
  <div class="col s6 offset-s3">
    <h4>Cadastro de Turma</h4>
    <div class="row">
      <div class="input-field col s6">
        <input id="ano_turma" type="number" class="validate" [(ngModel)]="turma.ano" >
        <label for="ano_turma">Ano</label>
      </div>
      <div class="input-field col s6">
        <input id="turma" type="text" class="validate" [(ngModel)]="turma.turma" >
        <label for="turma">Turma</label>
      </div>
      <div class="input-field col s12">
        <select materialize="material_select" [(ngModel)]="turma.coordenador" >
          <option value="" disabled selected></option>
          <option value="1">Maria</option>
          <option value="2">Tereza</option>
          <option value="3">Zila</option>
        </select>
        <label>Coordenador(a)</label>
      </div>
      <div class="input-field col s12">
        <select materialize="material_select" [(ngModel)]="turma.periodo" >
          <option value="" disabled selected></option>
          <option value="1">Manha</option>
          <option value="2">Tarde</option>
          <option value="3">Noite</option>
        </select>
        <label>Periodo</label>
      </div>
      <div class="input-field col s12">
        <select materialize="material_select" [(ngModel)]="turma.etapa" >
          <option value="" disabled selected></option>
          <option value="1">Infatil</option>
          <option value="2">Fundamental</option>
          <option value="3">Medio</option>
        </select>
        <label>Etapa</label>
      </div>
      <div class="right-align">
        <button class="btn waves-effect waves-light" (click)="save()" >
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>
